<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <title>
      {% block metatitle %}
        {{ name | default('<%= name %>') }}{% endblock %}
    </title>
    <base href="/">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="favicon.ico" rel="icon" type="image/x-icon">
    <link href="/{{ 'styles.css' | getMinifiedFile }}" rel="stylesheet" type="text/css"/>
  </head>
  <body class="{% block bodyClass %}{% endblock %}">
    <div class="page" id="app">
      <header class="align-center">
        {% block header %}
          <a href="/">
            <%=name%></a>
          {% block header_nav %}{% endblock %}
        {% endblock %}
      </header>
      <main>
        <div data-container="">
          {% block main %}{% endblock %}
        </div>
      </main>
      <footer>
        {% block footer %}
          <div class="align-center has-padding-big">
            <small>
              <a href="/impressum">Impressum</a>
            </small>
            <small>
              <a href="/datenschutz">Datenschutz</a>
            </small>
          </div>
        {% endblock %}
      </footer>
    </div>
    {% block customscript %}{% endblock %}
    <script src="/{{ 'main.js' | getMinifiedFile }}" type="text/javascript"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>